!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title #{@item[:title]} » Abe Voelker
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/twitter-bootstrap.css", :media => "screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/stylesheet.css", :media => "screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/wombat.css", :media => "screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic", :media => "screen"}
    %meta{:name => "generator", :content => "nanoc 3.2.1"}
    =render "_flattr"
  %body
    .container-fluid
      #sidebar.sidebar
        %a{:href => '/'}
          %img{:src => "/images/portrait.png"}
        %h2 Abe Voelker
        %h3 Deep thoughts, distilled from an addled μ-brain
      #main
        - sorted_articles.reject{|a| !a.attributes[:published]}.each do |a|
          %a{:href => "/#{a.attributes[:shortlink]}/"}
            %h2= a.attributes[:title]
          - if a.attributes[:flattr_link]
            =flattr_compact(a.attributes[:shortlink], a.attributes[:flattr_link])
          %p= a.attributes[:excerpt]
          -if a.attributes[:thumbnail]
            %a{:href => "/#{a.attributes[:shortlink]}/"}
              %img{:src => "#{a.attributes[:shortlink]}/images/#{a.attributes[:thumbnail][:data]}",
                   :alt => a.attributes[:thumbnail][:alt],
                   :title => a.attributes[:thumbnail][:title]}
          %hr
        =find_and_preserve yield #find_and_preserve fixes 'pre' indentation issues
      #footer
        =render "_google_analytics"
